<template>
<div v-if="panjangblog">
    
    <v-card >
        <v-img :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'" class="white--text" height="200px">
            <v-card-title class="fill-height align-end" v-text="blog.title">                
            </v-card-title>
        </v-img>
        <v-card-text>
            <v-simple-table dense> 
                <tbody>
                    <tr>
                        <td> <v-icon>mdi-format-title</v-icon> Judul </td>
                        <td class="blue--text">{{blog.title}}</td>
                    </tr>
                    <tr>
                        <td><v-icon>mdi-note</v-icon> Deskripsi </td>
                        <td>{{blog.description}}</td>
                    </tr>
                    
                </tbody>
                
                

            </v-simple-table>
            <v-btn color="success lighten-1" :to="`/blogedit/${blog.id}`" style="margin : 20px">
                    EDIT
                    <v-icon right dark>mdi-lock</v-icon>                    
            </v-btn>
            <v-btn color="success lighten-1" @click="hapus">
                    DELETE
                    <v-icon right dark>mdi-lock</v-icon>                    
            </v-btn>
            
        </v-card-text>
        
        
    </v-card>

</div>
    
</template>

<script>
import { mapGetters,mapActions } from 'vuex';

export default {
    data : function(){ 
                        return{
                        apiDomain : 'https://demo-api-vue.sanbercloud.com',
                        blog : {},    
                        }    
                    },
  computed : {
    panjangblog : function(){
            if(JSON.stringify(this.blog) === '{}') { 
                return false
                }
            else { return true}
            },
    ...mapGetters({
            token : 'auth/token',
        })
  },
  methods : {    
    go : function(){

        let {id} = this.$route.params
        //console.log(`ini id nya : ${id}`)

        const config = {
                        method : 'get',
                        url : `${this.apiDomain}/api/v2/blog/${id}`,
                        
                        }

        this.axios(config)
            .then(response => {            
                this.blog = response.data.blog
            // console.log(response.data.blog)
            })
            .catch (error=>{console.log(error)})

    },
    ...mapActions({
            setAlert : "alert/set",
        }),
    hapus : function(){
        console.log(this.blog.id)
        if(confirm("Mau Menghapus Member Ini?")){
            const config = {
                        method : 'post',
                        url : `${this.apiDomain}/api/v2/blog/${this.blog.id}`,
                        params : {_method : "DELETE"},                                    
                        headers : {
                            "Authorization" : "Bearer " + this.token,
                            }
                        }

            this.axios(config)
                .then(response => {
                    console.log(response)                             
                    this.setAlert({
                            status : true,
                            color : "success",
                            text : "Anda Berhasil Menghapus Blog"
                        })
                    window.history.back()

                })
                .catch (error=>{
                    console.log(error)
                    this.setAlert({
                            status : true,
                            color : "error",
                            text : "Anda Gagal Menghapus Blog"
                        })
                    })
        }
        
    },

    
    //const api = 'https://demo-api-vue.sanbercloud.com/api/v2/blog/random/3'
    
    //this.axios.get(api).then((response)=>{console.log(response.data)})
  },
  created(){this.go()}
}
</script>