<!--
<template>
  <hello-world />
</template>

<script>
  import HelloWorld from '../components/HelloWorld'

  export default {
    name: 'Home',

    components: {
      HelloWorld,
    },
  }
</script>-->

<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/blogs" class="blue--text">
      All Blogs  <v-icon>mdi-chevron-right</v-icon>      
      </v-btn>
    </div>
  <v-layout wrap>
    <!-- <v-flex v-for="blog in blogs" :key="`blog-${blog.id}`" xs6>
      <v-card :to="`/blog/${blog.id}`">
        <v-img :src="blog.photo ? apiDomain+blog.photo : 'https://picsum.photos/200/300'" class="white--text" height="200px">
        <v-card-title class="fill-height align-end" v-text="blog.title">          
        </v-card-title>
        </v-img>
        <v-card-actions>
          <v-progress-linear color="blue-grey" height="7px"></v-progress-linear>
        </v-card-actions>
        <v-card-actions>
          <span>{{blog.title.substring(0,15)}}...</span>
        </v-card-actions>
        
        
      </v-card>
      
    </v-flex> -->

    <blog-item-component v-for="blog in blogs" :key="`blog-${blog.id}`" :blog="blog"></blog-item-component>

  </v-layout>
    
  </v-container>
</template>

<script>
import BlogItemComponent from '../components/BlogItemComponent.vue'

export default {
  data : function(){ return{
            apiDomain : 'https://demo-api-vue.sanbercloud.com',
            blogs : [],
          }    
        },
  components : {
    'blog-item-component' : BlogItemComponent,    
    },
  created(){
    
    //console.log(this.$store.state.count)
      
    const config = {
      method : 'get',
      url : this.apiDomain + '/api/v2/blog/random/4'
      }

    this.axios(config)
        .then(response => {
          //let blogs = response.data
          this.blogs = response.data.blogs
          //console.log(this.blogs)
        })
        .catch (error=>{console.log(error)})

    //const api = 'https://demo-api-vue.sanbercloud.com/api/v2/blog/random/3'
    
    //this.axios.get(api).then((response)=>{console.log(response.data)})
  }
}
</script>

