<template>
  <!-- App.vue -->

  <v-app>

    <Dialog></Dialog>
    <Alert></Alert>
    <v-navigation-drawer app v-model="drawer" color="blue-grey lighten-5">
      <v-list>
        
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-img :src="user.photo_profile ? apiDomain + user.photo_profile : 'https://randomuser.me/api/portraits/men/22.jpg'" alt="randomuser" />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title><b>Welcome, {{user.name}}</b></v-list-item-title>              
          </v-list-item-content>
        </v-list-item>
        
        <div class="pa-2" v-if="guest">
          <v-btn block color="primary" dark class="mb-1" @click="login">
            <v-icon left class="mb-1" >mdi-lock</v-icon>
            Login
          </v-btn>
          <v-btn block color="success lighten-1" dark class="mb-1" to="/register">
            <v-icon left>mdi-account</v-icon>
            Register
          </v-btn>          
        </div>

        <v-divider></v-divider>

        <v-list-item v-for="(item,index) in menus" :key="`menu-${index}`" :to="item.route">
          <v-list-item-icon>
            <v-icon left>{{item.icon}}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title><b>{{item.title}}</b></v-list-item-title>              
          </v-list-item-content>
        </v-list-item>        
      </v-list>


      <div v-if="!guest" class="pa-2">
          
          <!-- <v-btn block color="success" dark to="/bloginput">
          <v-icon left class="mb-1" >mdi-note</v-icon>          
          Input Blog
          </v-btn> -->

          <v-list>
          <v-list-item  to="/bloginput">
          <v-list-item-icon>
            <v-icon left>mdi-pencil</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title><b>Input Blog</b></v-list-item-title>              
          </v-list-item-content>
          </v-list-item>        
          </v-list>
      </div>
      
    
      <template v-slot:append v-if="!guest">        
        <div class="pa-2">
          <v-btn block color="red darken-4" dark @click="logout">
          <v-icon left class="mb-1" >mdi-lock</v-icon>
          Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app color="teal" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title color="teal">
        Group-6-VueJS-Batch24
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main style="background-color : #ECEFF1">

      <!-- Provides the application the proper gutter -->
      <v-container fluid >
        <!-- <p>fauzi again</p> -->

        <v-slide-y-transition>
          
          <router-view></router-view>
        </v-slide-y-transition>
           
      </v-container>
    </v-main>

    <v-footer app dark color="blue-grey" style="fontSize : 15px"><b>
      Sanbercode@Group6-VueJS-Batch24 | 2021</b>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters,mapActions} from 'vuex';
import Alert from './components/Alert'
import Dialog from './components/Dialog'



export default {
  components: { 
    // 'Alert' : ()=>import('./components/Alert.vue'),
    // 'Dialog' : ()=>import('./components/Dialog.vue'),
    Alert : Alert,
    Dialog : Dialog
   },
  name: 'App',

  data : function(){ 
    return {
      drawer : true,
      menus : [
      {title : 'Home', icon : 'mdi-home' , route : '/'},
      {title : 'Blogs', icon : 'mdi-note' , route : '/blogs'},
      
      ],
      // guest : true,
      // snackbarStatus : false,
      // snackbarText : 'Anda Berhasil Login',
      apiDomain : "https://demo-api-vue.sanbercloud.com"
    }
  },
  computed : {
    ...mapGetters({
      guest : 'auth/guest',
      user : 'auth/user',
      token : 'auth/token',
    })
  },
  methods : {
    login : function(){
      //console.log("ini login")
       // this.guest = false,
        this.setDialogComponent({'component' : 'login'})
        // this.setAlert({
        //   status : true,
        //   color : "success",
        //   text : "Anda Berhasil login"
        // })
      },
    logout : function(){
        // this.guest = true,
        // this.setAlert({
        //   status : true,
        //   color : "success",
        //   text : "Anda Berhasil logout"
        // })
        let config = {
          method : "post",
          url : "https://demo-api-vue.sanbercloud.com/api/v2/auth/logout",
          headers : {
            "Authorization" : "Bearer " + this.token,
          }
        }

        this.axios(config)
              .then(()=>{
                  this.setToken('')
                  this.setUser({})
                  this.setAlert({
                    status : true,
                    color : "success",
                    text : "Anda Berhasil logout"
                  })
              })
              .catch((response)=>{
                console.log(response)
                this.setAlert({
                    status : true,
                    color : "error",
                    text : "Gagal Logout" + response.data
                  })
              })
        
      },
    ...mapActions({
      setAlert : "alert/set",
      setDialogComponent : "dialog/setComponent",
      checkToken : "auth/checkToken",
      setToken : "auth/setToken",
      setUser : "auth/setUser"
    }),
    

  },
  mounted(){
    //this.snackbarStatus = true
    if(this.token){
      this.checkToken(this.token)
    }
  }    
  
};
</script>
